@using TaskManager.Models.ViewModels
@using TaskManager.Models.PostData
@model List<TestTaskViewModel>

@{
	ViewData["Title"] = "Home Page";
}
@if (ViewBag.Message != null)
{
	<div class="alert alert-primary" role="alert">
		@ViewBag.Message
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (TestTaskViewModel task in Model)
		{
			<tr>
				<th scope="row">@task.Id</th>
				<td>@task.Title</td>
				<td>@task.Description</td>
				<td>
					@await Html.PartialAsync("_TaskStatusPartial", task)
				</td>
			</tr>
		}
	</tbody>
</table>

<h3>Create new task</h3>

<form asp-controller="Task" asp-action="CreateTask" method="post">
	<div class="form-group">
		<label for="title">Title</label>
		<input name="@nameof(CreateTaskPostData.Title)" type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter title">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input name="@nameof(CreateTaskPostData.Decription)" type="text" class="form-control" id="description" placeholder="Enter description">
	</div>
	<button type="submit" class="btn btn-primary">Create task</button>
</form>


<script>
	function changeTaskStatus(id) {
		document.getElementById("change-status-form-" + id).submit();
	}
</script>